<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @milestone.description %>
</p>

<p>
  <strong>Milestone Done:</strong>
  <%= @milestone.done %>
</p>

<button class="btn btn-primary" type="button"><%= link_to 'Edit', edit_task_milestone_path(@task) %> |</button>

<! -- TODO: set to task path id -->
<button class="btn btn-primary" type="button"><%= link_to 'Back', tasks_path %></button>
