
<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!--  ---------------------------------------------------------------------    -->
  <!--  name field   -->
  <div class="field">
    <!--label class="sr-only"-->
    <%= form.label :name %>
    <!--/label-->
    <%= form.text_field :name, id: :task_name %>
  </div>
  </br></br>

  <!--  ---------------------------------------------------------------------    -->
  <!--  start_date   -->
  <div class="field">
    <%= form.label :start_date %>

    <!--div style="overflow:hidden;">
    <div class="form-group">
        </br>
        <div class="column">
            <div class="col-md-4">
                <div id="datetimepicker_start_date"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker_start_date').datetimepicker({
                inline: true,
                sideBySide: true
            });
        });
    </script>
  </div-->

    <%= form.datetime_field :start_date, id: :task_start_time %>
  </div>
  </br></br>

  <!--  ---------------------------------------------------------------------    -->
  <!--  due_date   -->
  <div class="field">
    <%= form.label :due_date %>

    <!--div style="overflow:hidden;">
    <div class="form-group">
        </br>
        <div class="column">
            <div class="col-md-4">
                <div id="datetimepicker_due_date"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker_due_date').datetimepicker({
                inline: true,
                sideBySide: true
            });
        });
    </script>
  </div-->

    <%= form.datetime_field :due_date, id: :task_due_time %>
  </div>
  </br></br>

  <!--  ---------------------------------------------------------------------    -->
  <!--  priority field   -->
  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority, id: :task_priority %>
  </div>
  </br></br>

  <!--  ---------------------------------------------------------------------    -->
  <!--  comment field   -->
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :task_comment %>
  </div>
  </br></br>

  <!--  ---------------------------------------------------------------------    -->
  <!--  submit button   -->
  <div class="btn btn-primary actions">
    <%= form.submit %>
  </div>
<% end %>
