<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Duration in Minutes:</strong>
  <%= @task.duration %>
</p>

<button class="btn btn-primary" type="button"><%= link_to 'Edit', edit_task_path(@task) %> |</button>
<button class="btn btn-primary" type="button"><%= link_to 'Back', tasks_path %></button>
