<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @task.start_date %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @task.comment %>
</p>

<p>
  <strong>Progress in Percent:</strong>
  <%= @task.progress %>
</p>

<button class="btn btn-primary" type="button"><%= link_to 'Edit', edit_task_path(@task) %> |</button>
<button class="btn btn-primary" type="button"><%= link_to 'Back', tasks_path %></button>
